<div class="cards">
  @for (exercise of dailyExercisesSig(); track exercise.id) {
  <div class="card">
    <img class="card-img" [src]="exercise.imgSrc" alt="Exercise image" />
    <div class="card-content">
      <div class="title-area">
        <h2>{{ exercise.title }}</h2>
        <mat-slide-toggle (toggleChange)="handleToggleChange(exercise)" [checked]="exercise.completed"> 
          @if(!exercise.completed){
            <span> Mark as done!</span>
          }@else {
            <span>Done!</span>
          }
        </mat-slide-toggle>
      </div>

      <div class="details">
        <label>Sets:</label>
        <div>{{ exercise.sets }}</div>
      </div>
      <div class="details">
        <label>Repetitions:</label>
        <div>{{ exercise.repetitions }}</div>
      </div>
    </div>
  </div>
  }
</div>
