.layout {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-top: 2rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .container-muscle-groups {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    margin-left: 10px;

    button {
      transition: width 0.3s ease;
      width: 6rem;

      &:hover {
        width: 8rem;
      }

      &.isSelected {
        width: 8rem;
        border: blue 1px solid;
      }
    }

    @media (max-width: 768px) {
      align-items: center;
    }
  }

  .container-selected-group {
    margin-bottom: 5px;

    h3 {
      color: #333;
      font-size: 24px;
      text-align: center;
    }

    .cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 50px;

      
    }

    .btn{
      position:absolute;
      top: +55px;
      right: +100px;
      background-color: rgb(238, 238, 174);
      align-items: center;
      display: flex;
      gap:4px;

      @media (max-width: 768px) {
        display: none;
      }
    }
  
  }
}
