<div class="card">
  <img class="card-img" [src]="exercise().imgSrc" />
  <div class="card-content">
    <div class="title-area">
      <h2>{{ exercise().title }}</h2>
      <button (click)="handleAddExercise()" [disabled]="handleAddVisibility()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="input">
      <label>Sets:</label>
      <input type="number" [(ngModel)]="exercise().sets" />
    </div>
    <div class="input">
      <label>Repetitions:</label>
      <input type="number" [(ngModel)]="exercise().repetitions" />
    </div>
  </div>
</div>
