<div class="card">
  <img
    class="card-img"
    [src]="exercise().imgSrc"
  />
  <div class="card-content">
    <h2>{{ exercise().title }}</h2>
    <div class="input">
      <label>Număr de seturi:</label>
      <input type="number" [(ngModel)]="exercise().sets" />
    </div>
    <div class="input">
      <label>Număr de repetări:</label>
      <input type="number" [(ngModel)]="exercise().repetitions" />
    </div>
    <button mat-raised-button (click)="handleAddExercise()">Adauga</button>
  </div>
</div>
